import { cn } from "@lib/utils"
import { cva, type VariantProps } from "class-variance-authority"

export const {{pascalCase name}}: React.FC<{{pascalCase name}}Props> = ({ children, className, variant }) => {
  const styles = cn(variants({ variant }), className)

  return (
    <div data-{{layer}}="{{kebabCase name}}" className={styles}>
      {children || "{{pascalCase name}} Component"}
    </div>
  )
}

const variants = cva("", {
  variants: {
    variant: {
      primary: "",
    },
  },
  defaultVariants: {
    variant: "primary",
  },
})

export type {{pascalCase name}}Props = {
  children?: React.ReactNode;
  className?: string;
} & VariantProps<typeof variants>